@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-black text-text-primary;
  }

  ::selection {
    background-color: rgba(232, 80, 2, 0.3);
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0A0A0A;
  }
  ::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #646464;
  }
}
